<!-- div for searh events date -->
<div class="content" style="background-color:transparent; height: 100%; width: 100%; margin: 30px;
padding: 10px; border-style: outset; border-radius: 20px; border-color: #aab5af; box-shadow: 2px 2px 4px 4px darkgray;" id="search-div" name="mydiv">
    <form class="form-inline mt-2 mt-md-0" method="GET" action="#">
        <input class="form-control mr-sm-2" type="text" name='from' placeholder="Search Event Date from ..." value="{{request.GET.from}}" aria-label="Search">
        <input class="form-control mr-sm-2" type="text" name='to' placeholder="Search Event Date to ..." value="{{request.GET.to}}" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" hidden>Search</button>
    </form>









</div>